{% extends "shop/layout/base.html" %}
{% block title %}Tu Carrito - Framazon{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="fw-bold mb-4">Tu Carrito de Compras</h1>
    <table class="table align-middle">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unit.</th>
                <th>Total</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                <tr>
                    <td>
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}https://via.placeholder.com/50{% endif %}" style="width: 50px;">
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.price }}</td>
                    <td>${{ item.total_price }}</td>
                    <td>
                        <a href="{% url 'shop:cart_remove' product.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    <div class="text-end mt-4">
        <h3>Total a pagar: <span class="text-success">${{ cart.get_total_price }}</span></h3>
        <a href="{% url 'shop:product_list' %}" class="btn btn-outline-secondary rounded-pill">Seguir comprando</a>
        <a href="{% url 'shop:order_create' %}" class="btn btn-warning rounded-pill fw-bold">Finalizar Compra</a>
    </div>
</div>
{% endblock %}